header, footer {
  color: white;
  background-color: #006575;
}

#clearForm {
  color: white;
  background-color: #006575; 
}

footer {
    display: block;
    font-size: small;
    text-align: center;
    padding-left: 2px;
  }

  .price-data {
    background-color: #006575;
    color: white !important;
  }

.arrival-data {
  /* transform: skew(-19deg); */
  background-color:#00675828;
  clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
}

.card {
  position: absolute;
}

/* :root {
  --number: 0.17216;
  --content-width: 100vw;
  --skew-padding: calc(var(--content-width) * var(--number));
} */

.WeatherIcon {
  max-height: 35px;
}

.originWeather, .destinationWeather {
  height: 135px !important;
}